body {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* padding: 15px; */
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
/*------------------------------------------------------------------
[ login ]*/
body .login-container {
	width: 960px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 100px 130px 100px 95px;
}

body .login-container .login-picture {
	width: 316px;
}

body .login-container .login-picture img {
	max-width: 100%;
}

/*------------------------------------------------------------------
[ from ]*/
body .login-container .from-contianer {
	width: 316px;
	display: inline-block;
	/* background-image: linear-gradient(to bottom right,rgb(114,135,254),rgb(130,88,186)); */
	border-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 60px;
	box-shadow: 0 10px 50px 0px rgb(59, 45, 159);
	/* background-color: rgb(95,76,194); */
	background-image: linear-gradient(to bottom right, rgb(118, 76, 163), rgb(92, 103, 211));
}

body .login-container .from-contianer .form-title {
	color: #fff;
	font-size: 18px;
	text-align: center;
}

body .login-container .from-contianer .form-title span {
	border-bottom: 3px solid rgb(237, 221, 22);
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media only screen and (min-width: 960px) {
	/* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
	/* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
	/* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {
	/* styles for mobile browsers smaller than 480px; (iPhone) */
	body .login-container {
		margin: 10px 10px 10px 10px;
		padding: 20px 30px 20px 30px;
	}
	body .login-container .login-picture{
		width: 50%;
		margin: 0 auto;
	}
}

@media only screen and (device-width: 768px) {
	/* default iPad screens */
	body .login-container {
		margin: 10px 10px 10px 10px;
		padding: 80px 30px 80px 30px;
	}
	body .login-container .login-picture{
		width: 50%;
		margin: 0 auto;
	}
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */
}
