/* 背景 */
body {
	background-image: url(../../img/index/background.jpg);
}

/* 主体 */
body .container {
	margin: 30px 70px 10px 70px;
	padding: 10px 0px 0px 0px;
	background-color: #ffffff;
}

/* 主体缩进设置 */
body .container .first-row-style{
	text-align:center; 
	padding: 20px 0px 0px 0px;
}

/* 轮播图大小 */
body .container .carousel-inner .turn-pirc{
	width: 586px;
	height: 415px;
}
