body .swiper-container {
	width: 100%;
	padding-bottom: 20px;
	z-index: 9999;
}

body .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 500px;
}

body .swiper-slide .swiper-slide-shadow-left,
body .swiper-slide .swiper-slide-shadow-right {
	width: 0;
	height: 0;
}

body .swiper-pagination-bullets .swiper-pagination-bullet {
	border: 10px solid #00002C;
}
body .swiper-container .swiper-pagination-bullet-active {
	border: 10px solid #699eff;
}
