/* 主页导航栏 */
.index-nav li:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

/* 购物车奖品池页导航栏 */
.prizepool-nav{
	z-index: 99999;
	background-color:rgba(0,0,0,0.3); 
	border: #000000; 
}
.prizepool-nav .prizepool-navbar-brand{
	color: #FFFFFF;
}
.prizepool-nav .prizepool-navbar-brand:hover{
	color: #FFFFFF;
}
.prizepool-nav .pirzepool-navbar li a{
	color: #ffffff;
}
.prizepool-nav .pirzepool-navbar li a:hover{
	color: #ffffff;
}
.prizepool-nav .pirzepool-navbar .dropdown-menu{
	background-color:rgba(0,0,0,0.3); 
}
.prizepool-nav .pirzepool-navbar .dropdown-menu a:hover{
	background-color:rgba(0,0,0,0.3); 
}
